@model CalculateForMegaRender.Models.Multiplication
@{
    ViewBag.Title = "Multiplication";
}
@using (Html.BeginForm())
{
    <input type="text" name="X"/>
    <input type="text" name="X"/>
    <input type="text" name="X"/>
    <input type="text" name="X"/>
    <input type="submit"/>
}
    <h2>Multiplication</h2>

